<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{code.name}}">
  <ion-content has-header="true" padding="true">
    <div class="card">
      <div class="item item-text-wrap">
        {{code.description}}
      </div>
    </div>
  </ion-content>
</ion-view>
