<ion-view title="About">
  <ion-content class="has-header padding">
    <img src="img/logo.jpg" alt=""/>
    <p>The OPCS-4 classification system is owned and maintained by the Health and Social Care Information Centre.</p>

    <div class="list">
      <div class="item">
        <h2>Manuela Cresswell MD</h2>
        <p>Core Surgical Trainee</p>
      </div>

      <div class="item">
        <h2>Matt Smith MB BChir MRCS DOHNS</h2>
        <p>Specialist Registrar ENT Surgery</p>
      </div>

      <a class="item" href="http://www.demenchuk.me">
        <h2>Dmitry Demenchuk</h2>
        <p>Web Programmer</p>
      </a>

    </div>
  </ion-content>
</ion-view>
