<ion-view title="Support">

  <ion-content class="has-header padding">
    <p>
      This is a <u>free web application</u>, it's available only from browser because publication at <strong>App Store</strong> costs $99/year, at <strong>Google Play</strong> - $25.
    </p>

    <p>
      If you've found the project particularly useful and want to see it as a native application on your <strong>iPhone</strong> or <strong>Android</strong>, I'd welcome your donations.
    </p>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_donations">
      <input type="hidden" name="business" value="dmitry@demenchuk.me">
      <input type="hidden" name="lc" value="GB">
      <input type="hidden" name="item_name" value="Theatre Codes">
      <input type="hidden" name="item_number" value="Theatre Codes Donation">
      <input type="hidden" name="no_note" value="0">
      <input type="hidden" name="currency_code" value="GBP">
      <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
      <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
    </form>

    <p>...have a feature you'd like? <a href="http://www.demenchuk.me/contact">Get in touch</a></p>

    <p>Thank you <i class="ion-heart"></i></p>
  </ion-content>
</ion-view>
